.spinner {
  font-size: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.text {
  font-size: 20px;
}

@media (max-width: 768px) {
  .spinner {
    font-size: 30px;
  }
  .text {
    font-size: 16px;
  }
}
